<div class="center first">
	<h1>Bienvenido a Pescatu!</h1>
	<h2>Compra un boleto y pesca tu aventura!</h2>
	<a href="#next" class="button">Comienza aqui</a>
</div>

<div class="blablabla container">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam sapiente optio provident magnam quasi saepe praesentium sit nobis minus sed quisquam, consequatur maiores quo amet eveniet quis labore exercitationem aliquam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum exercitationem laudantium facere, quidem quaerat quasi, consectetur doloremque quos, atque iure odio sequi. Id tempora incidunt, explicabo dolores, nam fugit unde!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto mollitia atque aliquid id quas, at sint dicta. Praesentium blanditiis laborum quam, vero enim facilis, sapiente harum officia dolore aperiam! Earum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro maxime iure quos quae cum at a sed suscipit ut, provident non! Provident tenetur vel aperiam voluptatibus accusantium repudiandae hic, facere.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam aperiam rem quo, sapiente quia dolorem corporis asperiores enim facere nulla, commodi molestias rerum. Maiores eius aut ipsam corporis itaque et.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam sapiente optio provident magnam quasi saepe praesentium sit nobis minus sed quisquam, consequatur maiores quo amet eveniet quis labore exercitationem aliquam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, cumque animi, illum numquam voluptatem commodi dolores molestias reprehenderit iusto eos quaerat repellendus voluptatum voluptas enim, doloremque quibusdam perferendis ea ratione!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus voluptatem aperiam deleniti, deserunt maiores libero enim quo quaerat qui quidem blanditiis ipsa inventore ullam perferendis modi architecto. Ducimus, quis, fuga.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde dolorem sunt error consequuntur voluptatibus hic iusto, repellat, officia quas velit animi nesciunt perferendis suscipit dolorum, odit rerum et molestiae magnam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni natus accusantium, corporis, placeat consequuntur saepe adipisci odit sint. Sit impedit exercitationem neque nostrum ducimus fuga dolores quisquam rem tempora commodi.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam sapiente optio provident magnam quasi saepe praesentium sit nobis minus sed quisquam, consequatur maiores quo amet eveniet quis labore exercitationem aliquam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa saepe dolore facilis accusantium natus, ut rerum fugiat? Dicta ipsam quos, quam eum omnis labore reiciendis, eius, qui alias itaque est?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum minus dolore assumenda iusto ad quia velit architecto illo magnam soluta ratione sint veniam a atque repudiandae fugiat, commodi, voluptates itaque!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui recusandae soluta labore? Iure mollitia velit vel molestias cum inventore, aspernatur beatae omnis, ipsum quis, illo odit sed cumque itaque non!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit omnis accusamus doloribus illum cupiditate laudantium illo eum placeat perferendis unde enim distinctio itaque dolores, reiciendis sed ipsa nulla repellat facilis!</p>
</div>
<div id="next">

	<div class="container">
		<div class="col-md-6 thumbnail">
			<img src="<%= asset_path 'fish.jpg' %>" alt="">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus adipisci magnam culpa accusamus sequi, nobis suscipit dignissimos dolorem saepe consequuntur iure quaerat maxime provident modi ducimus cupiditate maiores, alias, ex!
			<button class="btn btn-info">Comprar</button>
		</div>
		<div class="col-md-6 thumbnail">
			<img src="<%= asset_path 'fish.jpg' %>" alt="">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dicta, officiis quia fugit totam incidunt at voluptatum hic officia illum odio aspernatur sit corporis eligendi dolorem suscipit nostrum expedita recusandae?
			<button class="btn btn-info">Comprar</button>
		</div>
	</div>
</div>