<div class="center first">
	<h1>Bienvenido a Pescatu!</h1>
	<h2>Compra un boleto y pesca tu aventura!</h2>
	<a href="#next" class="button">Comienza aqui</a>
</div>

<div class="blablabla"></div>
<div class="next">
	<div class="container">
		<div class="col-md-6 thumbnail">
			<img src="https://cdn.pixabay.com/photo/2017/09/13/04/03/fisherman-2744352_960_720.jpg" alt="">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus adipisci magnam culpa accusamus sequi, nobis suscipit dignissimos dolorem saepe consequuntur iure quaerat maxime provident modi ducimus cupiditate maiores, alias, ex!
			<button class="btn btn-info">Comprar</button>
		</div>
		<div class="col-md-6 thumbnail">
			<img src="https://cdn.pixabay.com/photo/2017/09/13/04/03/fisherman-2744352_960_720.jpg" alt="">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dicta, officiis quia fugit totam incidunt at voluptatum hic officia illum odio aspernatur sit corporis eligendi dolorem suscipit nostrum expedita recusandae?
			<button class="btn btn-info">Comprar</button>
		</div>
	</div>
</div>